.footerBranding {
  margin: 0 auto;
  width: var(--mainWidth);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  padding: 0.25rem;
  background-color: var(--primary-dark);
  color: var(--secondary-dark);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: var(--assistant-font);
}

.footerName {
  font-size: 1rem;
  font-weight: 300;
}

.footer__container {
  background-color: var(--primary-dark);
}
