:root{
  --primary: #472423;
  --primary-light: #907b7b;
  --primary-dark: #2a1515;
  --secondary: #f0ece1;
  --secondary-light: #f6f3ed;
  --secondary-dark: #817f7a;
  --highlight:  	#242347;
  --highlight-light: #65657e;
  --highlight-dark: #191831;
  --background: #f0ece1;

  --sand: #EECCB2;
  --green: #81E0A0;
  --yellow: #FCEF7F;
  --darkGreen:#1C4939;
  --purple: #E4C7FF;
  --blue: #544CF8;
  --gray: #d3ded4;
  --white: #ffffff;
  --black: #000000;

  --border-radius: 10px;
  --padding-card: 10px
  --border: 2px solid #000;
  --font-title: 1.5rem;
  --font-description: 1.2rem;
  --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  --shadow-transform: 0 0 1rem rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease-in-out;
  --margin: 0 1rem;
  --bigFont: 10vw;
  --mainWidth: 1440px;
  --navHeight: 75px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;

}

a {
  color: inherit;
  
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a::before {  
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 3px;
  transition: bottom .3s ease-in-out, height .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 45%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

main {
  flex: 1;
}

/* hover class that extends a ling under any content like a link */
/* transition: transform 1s cubic-bezier(.16,1.08,.38,.98),-webkit-transform 1s cubic-bezier(.16,1.08,.38,.98); */


/* make it reponsive */
@media (max-width: 768px) {
  :root {
    --mainWidth: 95vw;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
