.header {
  margin: 0 auto;
  width: var(--mainWidth);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--darkGreen);
  transition: all 0.4s ease-in-out;
  height: var(--navHeight);
  font-family: var(--assistant-font);
  z-index: 1000;
}

.headerMask {
  content: "";
  position: fixed;
  width: 200%;
  height: var(--navHeight);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  backdrop-filter: blur(12px);
  mask: linear-gradient(white 100%, transparent);
  transition: 1s;
  z-index: 999;
}

/* .header:hover:after {
  opacity: 0;
} */

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
  gap: 0.9rem;
}

.logo {
  padding-top: 0.5rem;
  font-size: 3rem;
  font-weight: 1000;
  color: var(--primary-dark);
  transition: all 0.4s ease-in-out;
  font-family: var(--bitter-font);
  /* spacing: -0.231rem; */
}

.nav {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding-top: 1.5rem;
}

.navItem {
  margin: 0 0.5rem;
  font-weight: 300;

  list-style: none;
  transition: all 0.5s ease 0s;
  position: relative;
}

.navItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 400px;
  background-color: var(--blue);
  bottom: 4px;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navItem:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.folderTab {
  width: 124px;
  height: 50px;
  display: flex;
  flex-direction: colunb;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  background-color: var(--white);
  border-top: 1px solid var(--darkGreen);
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  /* light box shadow on bottom and right */
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.2s ease-in-out;
}

.burger {
  display: none;
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.burgerMenuContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .folderTab {
    width: 100px;
    height: 50px;
  }

  .nav {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav {
    font-size: 1rem;
  }

  .folderTab {
    display: none;
  }

  .burger {
    display: block;
    font-size: 1.5rem;
    color: var(--primary-dark);
    cursor: pointer;
    margin-right: 1rem;
  }
}

@media (max-width: 1000px) {
  .folderTab {
    width: 100px;
    height: 50px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav {
    font-size: 1rem;
  }

  .folderTab {
    visibility: none;
  }
}
