.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98px;
  padding: 1rem 0 0 0.8rem;
  border-right: 4px solid var(--primary);
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
  font-family: var(--bitter-font);
}

.header:hover {
  border-right: 5px solid var(--highlight-dark);
  width: 290px;
}

.header:hover > .nav > .logo {
  transition: all 0.4s ease-in-out;
  color: var(--highlight-dark);
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
  gap: 0.9rem;
}

.logo {
  font-size: 6rem;
  font-weight: 1000;
  width: fit-content;
  color: var(--primary-dark);
  transition: all 0.4s ease-in-out;
  /* light box shadow */
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.navItem {
  font-size: 2rem;
  font-weight: 600;
  width: 200px;
  text-decoration: underline;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  list-style: none;
  transition: all 0.4s ease 0s;
  /* light box shadow on bottom and right */
  box-shadow: 2px 1px 8px 0px rgba(0, 0, 0, 0.24);
}

.navItem:hover {
  transform: scale(0.95);
  transition: all 0.4s ease 0s;
}

.navItem:hover:after {
  transition: all 0.4s ease 0s;
  content: " ";
  position: absolute;
  top: 9px;
  right: 20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--primary-dark);
}

.navItem:active {
  transform: scale(0.9);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.navItem:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.navItem.special:hover {
  background-color: var(--highlight-light);
  color: var(--primary-dark);
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  padding: 0.25rem;
  background-color: var(--primary);
  color: var(--secondary-dark);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footerName {
  font-size: 1rem;
  font-weight: 300;
}
