.heroSection {
  /* this is a component that will take up 100vh and announce information */
  margin: 0 auto;
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.opener {
  height: calc(100vh - var(--navHeight));
}

.stats__container {
  background-color: var(--orange);
}

.tools__container {
  background-color: var(--red);
}

.darkGreen {
  background-color: var(--darkGreen);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
  color: var(--black);
}

.sand {
  background-color: var(--sand);
}

.bg {
  z-index: 0;
}
