.heroSection {
  /* this is a component that will take up 100vh and announce information */
  margin: 0 auto;
  background: #000;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.tools__container {
  position: relative;
  width: 100vw;
  display: grid;
  /* 5x5 grid by default */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  place-items: center;
  padding: 1rem;
  /* make it responsive */
}

.darkGreen {
  background-color: var(--darkGreen);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
  color: var(--black);
}

.sand {
  background-color: var(--sand);
}

.skill__card {
}

.toolbox__card {
  grid-column: span 2;
}
