.mainContent {
  margin: 0 auto;
  font-family: var(--assistant-font);
}

.bigHeader {
  font-size: var(--bigFont);
  margin: var(--margin);
  color: var(--primary-dark);
}

.hero {
  margin: var(--margin);
}

.returnTop {
  /* button that will return you to top of screen */
  cursor: pointer;
  sticky: bottom;
  position: fixed;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  transition: all 0.15s ease 0s;
  z-index: 100;
}

.returnTop:hover {
  transform: translateY(-2px);
  /* darken the icon slightly */
  filter: brightness(0.95);
}

.returnTop {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
}

.statsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  background-color: var(--orange);
}
