.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.cardHeaderTitle {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  align-self: center;
  flex: 1;
  font-style: italic;
  color: var(--darkGreen);
}

.cardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin-top: 1rem;
}

.projectsList .cardContainer:nth-child(odd) .cardBody {
  flex-direction: row-reverse;
}

.post:nth-child(odd) h2 a {
  color: red;
}
.post:nth-child(even) h2 a {
  color: green;
}

.skillsContainer {
  background-color: var(--sand);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 2rem 0rem;
}

.skillsList {
  /* make a responsive grid that will default to 3 columns */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  padding: 0;
  margin-bottom: 2rem;
}

.skillDiv {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--yellow);
  color: var(--gray);
  padding: 1rem;
  margin: var(--margin);
  box-shadow: var(--shadow);
  transition: var(--transition);
  z-index: 99;

  --color: var(--darkGreen); /* the color */
  --borderLength: 0.15em; /* border length*/
  --depth: 15px; /* the cube depth */

  --_s: calc(var(--depth) + var(--borderLength));
  border: solid #0000;
  border-width: var(--borderLength) var(--borderLength) var(--_s) var(--_s);
  background: conic-gradient(
        at left var(--depth) bottom var(--depth),
        #0000 90deg,
        rgb(255 255 255 /0.3) 0 225deg,
        rgb(255 255 255 /0.6) 0
      )
      border-box,
    conic-gradient(
        at left var(--_s) bottom var(--_s),
        #0000 90deg,
        var(--color) 0
      )
      0 100% / calc(100% - var(--borderLength)) calc(100% - var(--borderLength))
      border-box;
  transform: translate(calc(var(--depth) / -1), var(--depth));
  clip-path: polygon(
    var(--depth) 0%,
    var(--depth) 0%,
    100% 0%,
    100% calc(100% - var(--depth)),
    100% calc(100% - var(--depth)),
    var(--depth) calc(100% - var(--depth))
  );
  transition: 0.5s;

  /* make it responsive */
  @media (max-width: 768px) {
    max-width: 250px;
  }
}

.skillHeader::after {
  content: "__";
  align-self: flex-start;
  display: block;
  flex: 1;
}

.skillDiv:hover {
  background-color: var(--secondark-light);
  color: var(--primary-dark);
  box-shadow: var(--shadow-transform);
  z-index: 99;

  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--depth),
    var(--depth) 0%,
    100% 0%,
    100% calc(100% - var(--depth)),
    calc(100% - var(--depth)) 100%,
    0% 100%
  );
}

.skillTitle {
  color: var(--darkGreen);
  justify-self: center;
  align-self: flex-start;
  max-width: 85%;
}

.skillHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.skillBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee {
  overflow-y: hidden;
}

@media (max-width: 768px) {
  /* .skillDiv {
    max-width: 100%;
  } */
  /* project divs all vertical when on small screen */
  .cardContainer {
    flex-direction: column;
    padding: 0;
    margin: 0.35rem;
  }
  .cardBody {
    flex-direction: column !important;
  }
  .cardRow {
    flex-direction: column;
  }
  .cardLeft {
    width: 100%;
  }
  .cardRight {
    width: 100%;
  }
}

/* <div className={styles.toggle} onClick={(e) => setMotion(!motion)}>
<input
  type="checkbox"
  id="toggle"
  value={motion ? "checked" : ""}
  className={styles.toggleInput}
  onClick={(e) => setMotion(!motion)}
/>
<span className={styles.toggleButton}></span>
<label htmlFor="toggle"></label>
</div> */
