.brandButton__primary {
  display: flex;
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var(--purple);
  border-radius: 1.5rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.brandButton__primary:hover {
  background-color: var(--white);
  color: var(--purple);
}

.brandButton__secondary {
  background-color: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 1.5rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.brandButton__secondary:hover {
  background-color: var(--purple);
  color: var(--white);
}

/* this is a tag that shows the tech stack */
.tagTech__container {
  width: fit-content;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tagStatus__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.tagStatus__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
